<a href="https://colab.research.google.com/github/angelaoica-dev/challenge-AluraStoreLatam/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importaci√≥n de datos

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

# Exploraci√≥n inicial de los datos

###Limpiar datos.

In [17]:
# Corregir problemas de encoding
def limpiar_columnas(df):
    df.rename(columns={
        "Categor√É¬≠a del Producto": "Categor√≠a del Producto",
        "Costo de env√É¬≠o": "Costo de env√≠o",
        "Calificaci√É¬≥n": "Calificaci√≥n",
        "M√É¬©todo de pago": "M√©todo de pago"
    }, inplace=True)

for df in [tienda, tienda2, tienda3, tienda4]:
    limpiar_columnas(df)

df_tiendas = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

print("‚úî Los datos han sido corrgidos correctamente. ")
print(f"Total de registros: {len(df_tiendas)}")

df_tiendas.head()

‚úî Los datos han sido corrgidos correctamente.
Total de registros: 9435

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

In [18]:
df_tiendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9435 entries, 0 to 9434
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                9435 non-null   object
 1   Categor√≠a del Producto  9435 non-null   object
 2   Precio                  9435 non-null   float64
 3   Costo de env√≠o          9435 non-null   float64
 4   Fecha de Compra         9435 non-null   object
 5   Vendedor                9435 non-null   object
 6   Lugar de Compra         9435 non-null   object
 7   Calificaci√≥n            9435 non-null   int64
 8   M√©todo de pago          9435 non-null   object
 9   Cantidad de cuotas      9435 non-null   int64
 10  lat                     9435 non-null   float64
 11  lon                     9435 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 884.7+ KB

In [20]:
df_tiendas.columns

Index(['Producto', 'Categor√≠a del Producto', 'Precio', 'Costo de env√≠o',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificaci√≥n',
       'M√©todo de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

#1. An√°lisis de facturaci√≥n

### Ingreso total de cada tienda.

In [21]:
tiendas = [tienda, tienda2, tienda3, tienda4]

for i, df in enumerate(tiendas, start=1):
    ingresos = df['Precio'].sum()
    print(f"Ingreso Total Tienda {i}: ${ingresos:,.2f}")

Ingreso Total Tienda 1: $1,150,880,400.00
Ingreso Total Tienda 2: $1,116,343,500.00
Ingreso Total Tienda 3: $1,098,019,600.00
Ingreso Total Tienda 4: $1,038,375,700.00

# 2. Ventas por categor√≠a

In [29]:
todas = pd.concat(
    [df.assign(Tienda=nombre) for nombre, df in tiendas.items()],
    ignore_index=True
)

# Ventas por categor√≠a y tienda
ventas_categoria_tienda = (
    todas
    .groupby(["Tienda", "Categor√≠a del Producto"])
    .size()
    .reset_index(name="Cantidad de Ventas")
)

tabla_categoria = (
    ventas_categoria_tienda
    .pivot(
        index="Categor√≠a del Producto",
        columns="Tienda",
        values="Cantidad de Ventas"
    )
    .fillna(0)
)

print(tabla_categoria)

Tienda                   Tienda 1  Tienda 2  Tienda 3  Tienda 4
Categor√≠a del Producto
Art√≠culos para el hogar       171       181       177       201
Deportes y diversi√≥n          284       275       277       277
Electrodom√©sticos             312       305       278       254
Electr√≥nicos                  448       422       451       451
Instrumentos musicales        182       224       177       170
Juguetes                      324       313       315       338
Libros                        173       197       185       187
Muebles                       465       442       499       480

# 3. Calificaci√≥n promedio de la tienda

In [31]:
todas = pd.concat(
    [df.assign(Tienda=nombre) for nombre, df in tiendas.items()],
    ignore_index=True
)

calificacion_promedio = (
    todas
    .groupby("Tienda")["Calificaci√≥n"]
    .mean()
    .round(2)
)

print(calificacion_promedio)

Tienda
Tienda 1    3.98
Tienda 2    4.04
Tienda 3    4.05
Tienda 4    4.00
Name: Calificaci√≥n, dtype: float64

# 4. Productos m√°s y menos vendidos

In [1]:
def analizar_productos(df, top_n=5):
    conteo = df["Producto"].value_counts()

    return {
        "mas_vendidos": conteo.head(top_n),
        "menos_vendidos": conteo.tail(top_n),
        "producto_mas_vendido": conteo.idxmax(),
        "ventas_mas_vendido": conteo.max(),
        "producto_menos_vendido": conteo.idxmin(),
        "ventas_menos_vendido": conteo.min()
    }
resumen_productos = []

for nombre, df in tiendas.items():
    resultado = analizar_productos(df, top_n=3)

    print(f"\nüìä {nombre}")

    print("\nProductos M√ÅS vendidos:")
    print(resultado["mas_vendidos"])

    print("\nProductos MENOS vendidos:")
    print(resultado["menos_vendidos"])

    resumen_productos.append({
        "Tienda": nombre,
        "Producto m√°s vendido": resultado["producto_mas_vendido"],
        "Ventas producto m√°s vendido": resultado["ventas_mas_vendido"],
        "Producto menos vendido": resultado["producto_menos_vendido"],
        "Ventas producto menos vendido": resultado["ventas_menos_vendido"]
    })
df_resumen_productos = pd.DataFrame(resumen_productos)
df_resumen_productos

# 5. Env√≠o promedio por tienda

In [32]:
envio_promedio = (
    pd.concat(
        [df.assign(Tienda=nombre) for nombre, df in tiendas.items()],
        ignore_index=True
    )
    .groupby("Tienda")["Costo de env√≠o"]
    .mean()
)
df_envio_promedio = (
    envio_promedio
    .round(2)
    .reset_index(name="Costo promedio")
)
df_envio_promedio

     Tienda  Costo promedio
0  Tienda 1        26018.61
1  Tienda 2        25216.24
2  Tienda 3        24805.68
3  Tienda 4        23459.46

###Relaci√≥n costo-env√≠o

In [34]:
calificacion_promedio = (
    pd.concat(
        [df.assign(Tienda=nombre) for nombre, df in tiendas.items()],
        ignore_index=True
    )
    .groupby("Tienda")["Calificaci√≥n"]
    .mean()
)
print(calificacion_promedio)

Tienda
Tienda 1    3.976685
Tienda 2    4.037304
Tienda 3    4.048326
Tienda 4    3.995759
Name: Calificaci√≥n, dtype: float64